# Build directories
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Test results
TestResults/

# Cache & logs
*.cache
*.log

# Rider / VS Code
.idea/
.vscode/

# SQLite database files
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# SQLite Browser project file
*.sqbpro

# Publish output
publish/
ElektroOffer_app/publish/
